
<div fxLayout="column" fxLayoutGap="32px">
<mat-grid-list cols="1" rowHeight="100px" >
  <mat-grid-tile> <app-cities [childCities]="cities.data"></app-cities></mat-grid-tile>
  <mat-grid-tile>
   <app-topics></app-topics>
  </mat-grid-tile>
</mat-grid-list>
</div>
<div
  fxLayout="row wrap" fxLayoutGap="1px" fxLayoutAlign="flex-start"  style="height: 100%; width: 100%;">
<!--  <button (click)="sendCoordinants()">click</button>-->
 <div style="overflow-y: scroll;height:100%;" fxFlex="0 1 calc(50% - 1px)"> <app-questions ></app-questions></div>



<!--  <div id="map" fxFlex="0 1 calc(50%)" style="height: 100%; width: 100%;">-->

<!--  </div>-->
    <div fxFlex="0 1 calc(50%)" style="height: 100%; width: 100%;"
         leaflet

         [leafletOptions]="options"
         [leafletLayersControl]="layersControl"
         (leafletMapReady)="onMapReady($event)"
         (leafletMapMoveEnd) = "onMapMoveEnd($event)"
    >
    </div>

</div>



