
<div fxLayout="column" fxLayoutGap="32px">
<mat-grid-list cols="1" rowHeight="100px" >
  <mat-grid-tile>1 <app-cities></app-cities></mat-grid-tile>
  <mat-grid-tile>
   2<app-topics></app-topics>
  </mat-grid-tile>
</mat-grid-list>
</div>
<div
  fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start"  style="height: 100%; width: 100%;">
  <button (click)="sendCoordinants()">click</button>
  <app-questions fxFlex="0 1 calc(50% - 32px)"></app-questions>


  <div id="map" fxFlex="0 1 calc(50%)" style="height: 100%; width: 100%;">

  </div>
</div>



